* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #000;
}

/* references the class! */
.clock {
  height: 500px;
  width: 500px;
  background-color: #dddddd;
  border-radius: 100%; /*makes it a circle?*/
  border: 3px solid #aaaaaa;
}
